<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Proyecto ML</title>
</head>
<body>
    <header>
        <div class="divHeader">
            <img src="/public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <input type="search">
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <li>
                    <ul>Ofertas</ul>
                    <ul>Tiendas Oficiales</ul>
                    <ul>Vender</ul>
                    <ul>Ayuda</ul>
                </li>
                <li>
                    <ul>Crea tu cuenta</ul>
                    <ul>Ingresa</ul>
                    <ul>Mis compras</ul>
                </li>
            </nav>
        </div>
    </header>
    <main>
        <div class="divMain">
            <h2>Basado en tu ultima visita</h2>
                    <div class="divUltimaVisitas">  
                        <img src="/public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                        <span class="spanPrecio">$6.770</span>
                        <span>40% OFF</span>
                        <span>Cafetera Moulinex</span>
                    </div>
                    <div class="divUltimaVisitas">  
                        <img src="/public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                        <span class="spanPrecio">$230.000</span>
                        <span>20% OFF</span>
                        <span>MacBook Pro 2019</span>
                    </div>
                    <div class="divUltimaVisitas">  
                        <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                        <span class="spanPrecio">$70.500</span>
                        <span>10% OFF</span>
                        <span>Samsung Galaxy S10</span>
                    </div>
                    <div class="divUltimaVisitas">  
                        <img src="/public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <span class="spanPrecio">$23.200</p>
                        <span>10% OFF</span>
                        <span>SmartTv Samsung 43"</span>
                    </div>
                
                <h2>Ofertas</h2>
                
                    <div class="divOfertas">  
                        <img src="/public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                        <span class="spanPrecio">$6.770</span>
                        <span>40% OFF</span>
                        <span>Cafetera Moulinex</span>
                    </div>
                    <div class="divOfertas">  
                        <img src="/public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                        <span class="spanPrecio">$230.000</span>
                        <span>20% OFF</span>
                        <span>MacBook Pro 2019</span>
                    </div>
                    <div class="divOfertas">  
                        <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                        <span class="spanPrecio">$70.500</span>
                        <span>10% OFF</span>
                        <span>Samsung Galaxy S10</span>
                    </div>
                    <div class="divOfertas">  
                        <img src="/public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <span class="spanPrecio">$23.200</span>
                        <span>10% OFF</span>
                        <span>SmartTv Samsung 43"</span>
                    </div>
            </div>
    </main>
    <footer>
        <div class="divFooter">
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>