<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Proyecto ML</title>
</head>
<body>
    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350px">

        <div class="buscador">
            <div class="input">Buscar productos, marcas</div>
            <div class="lupa"><i class="fa fa-search"></i></div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>

        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a> 
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Crear Cuenta</a>
                </li>
                <li>
                    <a href="#">Ingresa</a>
                </li>
                <li>
                    <a href="#">Mis Compras</a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img  class="banner-img"src="/images/img-home-banner.jpg" alt="img-home-banner" width="350px">
    </section>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="desc-produc">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4 class="desc-produc">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class="desc-produc">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class="desc-produc">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4 class="desc-produc">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4 class="desc-produc">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class="desc-produc">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="350px"/>
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class="desc-produc">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>


    </main>

    <footer>
        <ul>
            <li>
                <div class="card">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div>
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo enpuntos de pago. ¡Y siemrpe es seguro!</p>
                </div>
                <li>
                    <div class="gift">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <div>
                        <h3>Envio gratis desde $ 2.500</h3>
                        <p>Solo por estar registado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                    </div>
                 </li>
            <li>
                <div class="shield">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <div>
                    <h3>Seguridad, de principio a pin</h3>
                    <p>¿No te gusta? ¡ Devolvelo ! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
                </div>
             </li>
            <li>
                <div>
                    <h3 class="copyright">Copryright ° 1999-2020 Mercado Liebre S.R.L   </h3>
                </div>
            </li>
            </li>
        </ul>
    </footer>



    <script src="https://kit.fontawesome.com/5e86b6516f.js" crossorigin="anonymous"></script>
    </body>
</html>