<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Proyecto ML</title>
</head>
<body>
    <header>

        <img src="/public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350px">

        <div class="buscador">
            <div class="input">Buscar productos, marcas</div>
            <div class="lupa"><i class="fa fa-search"></i></div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>

        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a> 
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Crear Cuenta</a>
                </li>
                <li>
                    <a href="#">Ingresa</a>
                </li>
                <li>
                    <a href="#">Mis Compras</a>
                </li>
            </ul>
        </nav>

    </header>
    <section>
        <img src="/public/images/img-home-banner.jpg" alt="img-home-banner" width="350px">
    </section>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <article>
                <img src="" alt="">
            </article>
        </section>
    </main>
</body>
</html>