*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #EAC926;
    
}

header p{
    text-align: center;
}

header nav ul li  {
    list-style-type: none;

}
header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}


header .buscador .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 200px;
}

header .buscador .lupa i{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
}