*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #EAC926;
    
}

header p{
    text-align: center;
}

header nav{
    display: none;
}

header nav ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    width: 42%;
}

header nav ul li  {
    list-style-type: none;

}
header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}


header .buscador .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 200px;
}

header .buscador .lupa i{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
}

header div.burger-menu{
    text-align: center;
}

header div.burger-menu i{
    color : #FFF;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 7px;

}

.banner-img{
    width: 100vw;
}
main{
    text-align: center;
    width: 90vw;
}

main section h3{
    font-size: 24px;
    color:#000
}
main section article{
    margin-bottom: 10px;
}

.info-article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
}
.info-article h4{
    font-size: 16px;
    color:#000
}

.precio{
    width: 30%;
}
.descuento{
    width: 70%;
}

main section article div i{
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    border-radius: 100%;
    color: #39b54a;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top:-15px;
}


.desc-produc{
    display: none;
}

footer ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7px;
}

@media (min-width: 361px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-produc{
        display: block;
   }
   main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
   }
   header nav{
        display: flex;
   }
   header div.burger-menu {
        display: none;
   }
}

@media (min-width: 769px){
    main section article{
        width: 22.5%;
   }
}